<div class="card-container">
  <mat-card *ngFor="let advertisement of advertisements" class="advertisement-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{ advertisement.title }}</mat-card-title>
      <mat-card-subtitle>{{ advertisement.user.name + ' ' + advertisement.user.lastname }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ advertisement.description }}</p>
    </mat-card-content>
    <mat-card-footer class="footer">
      <mat-chip-set aria-label="Especialidades">
        <mat-chip *ngFor="let specialty of advertisement.specialties">{{ specialty }}</mat-chip>
      </mat-chip-set>
    </mat-card-footer>
  </mat-card>
</div>

<mat-paginator *ngIf="totalElements > 0" [length]="totalElements"
              [pageSize]="pageSize"
              [pageIndex]="currentPage"
              (page)="pageChanged($event)"
              aria-label="Select page">
</mat-paginator>
