<div class="search-container">
  <mat-form-field>
    <mat-label>Especialidades</mat-label>
    <mat-select #filter>
      <mat-option (click)="filterResults(filter.value)" [value]="">Limpar Busca</mat-option>
      <mat-option (click)="filterResults(filter.value)" *ngFor="let specialty of specialties" [value]="specialty.id">{{specialty.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="card-container">
  <mat-card *ngFor="let advertisement of advertisements" class="advertisement-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{ advertisement.title }}</mat-card-title>
      <mat-card-subtitle>{{ advertisement.user.name + ' ' + advertisement.user.lastname }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ advertisement.description }}</p>
    </mat-card-content>
    <mat-card-footer class="footer">
      <mat-chip-set aria-label="Especialidades">
        <mat-chip *ngFor="let specialty of advertisement.specialties">{{ specialty }}</mat-chip>
      </mat-chip-set>
      <button *ngIf="role == 'ROLE_PATIENT'" mat-raised-button color="primary" (click)="this.router.navigate(['/appointment'])">Marcar Horário</button>
    </mat-card-footer>
  </mat-card>
</div>

<mat-paginator *ngIf="totalElements > 0" [length]="totalElements"
              [pageSize]="pageSize"
              [pageIndex]="currentPage"
              (page)="pageChanged($event)"
              aria-label="Select page">
</mat-paginator>
