<div class="create-appointment-container">
  <div class="card-container">
    <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
      <mat-card class="advertisement-card" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>{{ advertisement.title }}</mat-card-title>
          <mat-card-subtitle>{{ advertisement.user?.name + ' ' + advertisement.user?.lastname }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ advertisement.description }}</p>
        </mat-card-content>
        <mat-card-footer class="footer">
          <mat-chip-set aria-label="Especialidades">
            <mat-chip *ngFor="let specialty of advertisement.specialties">{{ specialty.name }}</mat-chip>
          </mat-chip-set>
        </mat-card-footer>
      </mat-card>
      <div class="right">
        <mat-form-field>
          <input matInput [matDatepickerFilter]="myFilter" [ngxMatDatetimePicker]="picker" placeholder="Choose a date" [formControl]="dateControl"
            [min]="minDate" [max]="maxDate">
          <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false"
            [stepHour]="1" [color]="color" [touchUi]="false" [enableMeridian]="false"
            [disableMinute]="true" [hideTime]="false">
          </ngx-mat-datetime-picker>
        </mat-form-field>
      </div>
      <div class="buttons">
        <button mat-flat-button type="button" (click)="checkAvailability()" color="primary">Verificar Disponibilidade</button>
        <button mat-flat-button type="submit" [disabled]="disableButton" color="primary">Marcar Horário</button>
      </div>
    </form>
  </div>
</div>
